In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
url= 'https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2001_12_17_1_1,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [3]:
#checking the mean for the average of each numerical data
fuel_data.groupby('fuel_type_code_pudl').mean()

#checking the correlation between the "fuel cost per unit burned" and other numerical data
# "fuel cost per unit delivered" for nuclear type and "measure of energy per unit" is higher in relation

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [4]:
fuel_data.groupby('fuel_qty_burned')['report_year'].count()

fuel_qty_burned
1.0            18
2.0            15
3.0            17
4.0            13
5.0             4
               ..
147837343.0     1
166385450.0     1
198577395.0     1
417297683.0     1
555894250.0     1
Name: report_year, Length: 26432, dtype: int64

In [5]:
#check for missing values
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [6]:
#checking the statsistics for the highest fuel cost per unit delivered grouped by year
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].describe()

,count,mean,std,min,25%,50%,75%,max
report_year,,,,,,,,
1994,1235.0,63.636060,1288.748659,-58.800,2.32600,13.1560,30.91000,45115.000
1995,1201.0,32.735269,173.849821,-85.640,1.80600,5.1140,29.79000,2396.770
1996,1088.0,9196.705948,244767.437600,-44.050,2.93500,16.2700,30.57250,7793482.000
1997,1094.0,11140.197239,256945.853368,-38.972,2.94650,14.4515,29.10400,7964521.000
1998,1107.0,287.154420,8172.214382,-43.747,2.40000,3.4750,24.78000,270604.000
1999,1050.0,25.551627,137.826776,-32.970,2.52700,3.5750,26.12300,2891.100
2000,1373.0,985.362877,31576.526616,-174.670,4.37000,19.4700,36.28800,1168000.000
2001,1356.0,60.050396,947.767770,-37.790,4.35950,21.2150,35.78250,34381.000
2002,1205.0,47.594361,906.266622,-60.290,3.72400,17.8940,31.96000,31416.000
2003,1211.0,55.663493,996.166868,-118.340,5.93000,21.9670,37.44100,34518.000
2004,1192.0,139.524275,3848.790040,-313.410,6.51500,20.9000,45.84025,132884.000
2005,1269.0,41.438184,247.442252,-31.501,8.68100,23.8610,62.13000,8651.000
2006,1243.0,38.657484,68.938342,-24.295,7.58500,21.7870,68.49700,1431.000
2007,1264.0,43.325023,148.371871,-488.054,7.48925,22.9085,72.66500,4850.872
2008,1228.0,58.588197,314.507364,-874.937,9.28175,23.5950,80.97925,10490.000
2009,1222.0,652.694163,20888.844544,0.000,5.38550,26.6120,71.45950,730166.000
2010,1261.0,91.862105,1282.253549,-7.295,5.41400,24.9000,86.36000,44033.320
2011,1240.0,59.774667,296.896180,-43.419,5.18075,24.5155,92.69675,9545.000
2012,1243.0,60.994502,313.148171,-91.900,3.56550,25.4000,99.53500,10129.000
2013,1199.0,172.307591,3917.510920,-93.470,4.61050,24.1770,90.49000,135315.000
2014,1171.0,192.737183,4019.515097,0.000,5.50200,29.3400,103.24750,136410.000
2015,1093.0,326.535511,5571.037893,-170.187,3.38000,12.0690,67.46000,140706.000
2016,1034.0,103.901761,2163.468884,-40.725,3.08925,6.3795,54.04875,69440.000
2017,993.0,46.196861,209.871096,0.000,3.35100,6.1190,62.93000,3584.335
2018,951.0,499.269966,8976.783325,0.000,3.33000,5.8400,70.43900,245652.000

In [7]:
by_fuel_type = fuel_data.groupby(['fuel_type_code_pudl','report_year'])

In [8]:
coal_mean94 = by_fuel_type.get_group(('coal', 1994))['fuel_cost_per_unit_delivered'].mean()
coal_mean98 = by_fuel_type.get_group(('coal', 1998))['fuel_cost_per_unit_delivered'].mean()

gas_mean94 = by_fuel_type.get_group(('gas', 1994))['fuel_cost_per_unit_delivered'].mean()
gas_mean98 = by_fuel_type.get_group(('gas', 1998))['fuel_cost_per_unit_delivered'].mean()

In [9]:
#percentage drop in delivery of coal btw 1998 and 1994
coal_mean94/coal_mean98 *100

17.41078388330096